<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= set.name %> - Lego Set Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar', { page: "" }) %>
    <div class="container mx-auto p-4">
        <div class="hero h-[30vh] bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold"><%= set.name%></h1>
                <p class="py-6">Everything you need to know about the set: <%= set.name%></p>
              </div>
            </div>
          </div>
    <br>
    <main class="container">
        <div class="container mx-auto p-4">
        <div class="card card-compact bg-base-100 shadow-md">
            <div class="flex items-center justify-center">
                <img src="<%= set.img_url %>" alt="<%= set.name %>" class="w-40 h-40 object-cover rounded">
            </div>
            <div class="card-body">
                <h2 class="card-title text-xl font-semibold text-center"><%= set.name %></h2>
                <ul class="mt-4 space-y-2">
                    <li><strong>Name:</strong> <%= set.name %></li>
                    <li><strong>Year:</strong> <%= set.year %></li>
                    <li><strong>Theme:</strong> <%= set.Theme.name %></li>
                    <li><strong>Number of Parts:</strong> <%= set.num_parts %></li>
                </ul>
                <blockquote id="quote" class="mt-4">
                    <p>Loading quote...</p>
                </blockquote>
                <div class="flex justify-center mt-4 space-x-4">
                    <% if(session.user){ %>
                        <a href="/lego/editSet/<%= set.set_num %>" class="btn btn-sm btn-success">Edit Set: <%= set.name %></a>
                        <% } %>
                    <a href="#" onclick="history.back();return false;" class="btn btn-sm btn-secondary">Back</a>
                </div>                
            </div>
        </div>
    </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch("https://quotable.io/random")
                .then(response => response.json())
                .then(data => {
                    const quoteElement = document.getElementById("quote");
                    quoteElement.innerHTML = `<p>"${data.content}"</p><footer>- ${data.author}</footer>`;
                })
                .catch(error => console.error('Error fetching quote:', error));
        });
    </script>
</body>
</html>
